<mat-card>
  <mat-toolbar color="primary"> FFO Calculator</mat-toolbar>
    <mat-card-content>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Enter Sales Data</mat-label>
      <textarea matInput (input)="parse($event)" value="Your goods for sale:
      112,615,885 Bushels on sale for $555 each (Until 5.7 hours from now)
      88,000,000 Oil Barrels on sale for $999 each (Until 5.7 hours from now)
      1,256,302,674 Bushels on sale for $555 each (Until 6.1 hours from now)
      17,000,000 Oil Barrels on sale for $999 each (Until 6.4 hours from now)
      137,042,852 Bushels on sale for $555 each (Until 7.5 hours from now)
      20,000,000 Oil Barrels on sale for $999 each (Until 8.2 hours from now)
      294,000,000 Oil Barrels on sale for $999 each (Until 28.2 hours from now)
      123,680,047 Bushels on sale for $555 each (Until 28.2 hours from now)
      17,000,000 Oil Barrels on sale for $999 each (Until 28.3 hours from now)
      2,132,178,763 Bushels on sale for $555 each (Until 28.6 hours from now)
      351,764,670 Bushels on sale for $555 each (Until 30.2 hours from now)
      51,000,000 Oil Barrels on sale for $999 each (Until 30.5 hours from now)
      94,855,519 Bushels on sale for $555 each (Until 36.1 hours from now)
      12,647,764 Oil Barrels on sale for $999 each (Until 36.9 hours from now)
      En Route: 2,172,713 Jets on sale for $164 each (Arrive in 3.8 hours)
      En Route: 7,037,025 Bushels on sale for $555 each (Arrive in 4.2 hours)
      En Route: 1,185,318 Oil Barrels on sale for $999 each (Arrive in 4.4 hours)
      "></textarea>
    </mat-form-field>    
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Enter Raw Text from Advisor page</mat-label>
      <textarea matInput (input)="extractValues($event)" value="HomePortal | Game Info | News | Forums | Wiki | Chat | Blog
      Bonuses
      Options
      MAIN MENU
      ADVISOR
      MANAGE
      BONUS
      PURCHASES
      BUILD
      CASH
      EXPLORE
      MARKET
      RESEARCH
      MILITARY
      RELATIONS
      SPY CENTER
      WAR ROOM
      MESSAGES
      NEWS
      SCORES
      CLANS
      SEARCH
      
      Turns: 51	Money: $2,448,289,537	Food: 3,523,771 Bushels	Networth: $98,060,843
      Upload your status to Boxcar and LaF
      
      
      The Status of the Fascism of Silver Surfer (#1)
      
      The Basics
      Turns Left	51
      Turns Taken	4529
      Turns Stored	0
      Rank	17
      Networth	$98,060,843
      Land	513,949
      Money	$2,448,289,537
      Population	5,278,598
      At War	No
      GDI Member	No
      Raw SPAL	0
      SPAL + Tech + Gov	0
      
      Land Distribution
      Enterprise Zones	7777
      Residences	7060
      Industrial Complexes	7126
      Military Bases	0
      Research Labs	0
      Farms	287,883
      Oil Rigs	197,553
      Construction Sites	1266
      Unused Lands	5284
      
      Technology
      Military	875,904	95.7%
      Medical	19,290	99.7%
      Business	3,415,317	149.9%
      Residential	3,087,447	147.0%
      Agricultural	6,560,273	210.1%
      Warfare	38,604	0.253%
      Military Strategy	3,580,840	125.7%
      Weapons	1,449,304	117.0%
      Industrial	1,728,753	123.4%
      Spy	30,724	100.4%
      SDI	39,844	2.01%
      Total	20,826,300	
      
      Current Status
      Tax Revenues	$37,947,841
        Tax Rate	35%
        Per Capita Income	$20.54
      Expenses	$7,326,827
      Net Income	$30,621,014
         Cashing	$38,210,582
      Food	3,523,771
         Production	3,692,174
         Consumption	168,251
         Net Change	3,523,923
      Oil	592,659
         Production	592,659
      Building Rate	321
      Explore Rate	6
      Tech Rate	3
      
      Military Forces
      Spies	0
      Troops	0
      Jets	6,534,498
      Turrets	0
      Tanks	0
      Nuclear Missiles	3
      Chemical Missiles	3
      Cruise Missiles	1
      
      Expense Breakdown
      Expenses	$7,326,827
         Military	$1,739,047
            Spies	$0
            Troops	$0
            Jets	$1,739,047
            Turrets	$0
            Tanks	$0
         Alliance/GDI	$0
         Land	$5,139,490
         Corruption	$448,290
      
      
      View Old Advisor
      View Classic Advisor
      
      Home | Rules | Privacy Policy | About us
      "></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width-input">
      <mat-label>Days left</mat-label>
      <input matInput type="number" disabled="true" [value]="salesData.days" />
    </mat-form-field>
    <table mat-table [dataSource]="tableData" class="mat-elevation-z2">
      
      <ng-container matColumnDef="label">
        <th mat-header-cell *matHeaderCellDef>Item</th>
        <td mat-cell *matCellDef="let element">{{ element.label }}</td>
      </ng-container>

      
      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef>Value</th>
        <td mat-cell *matCellDef="let element">
          {{ element.value | number: '1.0-0' }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-grid-list cols="2">
<mat-grid-tile>
  <table mat-table [dataSource]="tableDataFood" class="mat-elevation-z2">
    <!-- Label Column -->
    <ng-container matColumnDef="label">
      <th mat-header-cell *matHeaderCellDef>Item</th>
      <td mat-cell *matCellDef="let element">{{ element.label }}</td>
    </ng-container>

    <!-- Value Column -->
    <ng-container matColumnDef="value">
      <th mat-header-cell *matHeaderCellDef>Value</th>
      <td mat-cell *matCellDef="let element">
        {{ element.value | number: '1.0-0' }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</mat-grid-tile>
<mat-grid-tile>
  <table mat-table [dataSource]="tableDataOil" class="mat-elevation-z2">    
    <ng-container matColumnDef="label">
      <th mat-header-cell *matHeaderCellDef>Item</th>
      <td mat-cell *matCellDef="let element">{{ element.label }}</td>
    </ng-container>    
    <ng-container matColumnDef="value">
      <th mat-header-cell *matHeaderCellDef>Value</th>
      <td mat-cell *matCellDef="let element">
        {{ element.value | number: '1.0-0' }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>
